In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/content/crocodile_dataset.csv')

In [3]:
df

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.90,62.0,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,2,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,4.09,334.5,Adult,Male,28-01-2015,Venezuela,Mangroves,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,3,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.08,118.2,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,4,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.42,90.4,Adult,Male,01-11-2019,Mexico,Rivers,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,5,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,3.75,269.4,Adult,Unknown,15-07-2019,India,Rivers,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,West African Crocodile,Crocodylus suchus,Crocodylidae,Crocodylus,2.55,112.3,Adult,Female,01-10-2015,Mauritania,Lakes,Least Concern,Karen Avery,Thousand position sense church out explain sig...
996,997,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,2.27,80.3,Subadult,Female,25-01-2023,Papua New Guinea,Freshwater Wetlands,Least Concern,Sylvia Turner,Painting try talk like maintain serious style.
997,998,West African Slender-snouted Crocodile,Mecistops cataphractus,Crocodylidae,Mecistops,2.34,93.5,Adult,Male,07-02-2014,Côte d'Ivoire,Swamps,Critically Endangered,Kristin Fleming,Produce off light before majority garden milit...
998,999,West African Slender-snouted Crocodile,Mecistops cataphractus,Crocodylidae,Mecistops,2.82,147.6,Adult,Male,09-07-2010,Sierra Leone,Shaded Forest Rivers,Critically Endangered,Eric Petersen,Put everything our prove could party skin soon...
999,1000,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,1.73,47.4,Juvenile,Unknown,31-03-2014,Papua New Guinea,Freshwater Wetlands,Least Concern,Kristen Harris,Ok community right then police day so store co...

In [4]:
df.head(10)

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.90,62.0,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,2,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,4.09,334.5,Adult,Male,28-01-2015,Venezuela,Mangroves,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,3,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.08,118.2,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,4,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.42,90.4,Adult,Male,01-11-2019,Mexico,Rivers,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,5,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,3.75,269.4,Adult,Unknown,15-07-2019,India,Rivers,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...
5,6,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,2.64,137.4,Adult,Male,08-06-2023,India,Reservoirs,Vulnerable,Randy Brown,Source husband at tree note responsibility def...
6,7,Siamese Crocodile,Crocodylus siamensis,Crocodylidae,Crocodylus,2.85,157.7,Subadult,Male,10-12-2010,Thailand,Slow Rivers,Critically Endangered,Dr. Marvin Thomas Jr.,Much section investment on gun young catch man...
7,8,Congo Dwarf Crocodile,Osteolaemus osborni,Crocodylidae,Osteolaemus,0.35,4.7,Juvenile,Unknown,03-08-2008,Central African Republic,Forest Swamps,Data Deficient,Terri Frazier,Race Mr environment political born itself law ...
8,9,West African Crocodile,Crocodylus suchus,Crocodylidae,Crocodylus,3.05,201.2,Adult,Male,16-04-2020,Sudan,Lakes,Least Concern,Deborah Mason,Medical blood personal success medical current...
9,10,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,3.39,197.2,Adult,Male,21-05-2016,Mexico,Lagoons,Least Concern,Tamara George,Affect upon these story film around there wate...

In [5]:
df.tail(10)

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
990,991,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,2.74,121.5,Adult,Male,28-03-2022,Papua New Guinea,Rivers,Least Concern,Casey Miles,Head member activity.
991,992,Nile Crocodile,Crocodylus niloticus,Crocodylidae,Crocodylus,3.13,285.8,Subadult,Male,14-07-2012,Egypt,Reservoirs,Least Concern,Deborah Moreno,They case TV team song.
992,993,West African Slender-snouted Crocodile,Mecistops cataphractus,Crocodylidae,Mecistops,2.26,88.5,Adult,Male,02-07-2007,Nigeria,Shaded Forest Rivers,Critically Endangered,John Mendoza,Common need phone teach audience project tax c...
993,994,West African Dwarf Crocodile,Osteolaemus tetraspis,Crocodylidae,Osteolaemus,0.39,4.9,Juvenile,Female,29-01-2005,Ghana,Forest Swamps,Vulnerable,Karen Fritz,Not east send style gun different energy arrive.
994,995,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,3.40,159.5,Adult,Female,26-10-2017,Guatemala,Rivers,Least Concern,Seth Norman,Cover risk health last student different.
995,996,West African Crocodile,Crocodylus suchus,Crocodylidae,Crocodylus,2.55,112.3,Adult,Female,01-10-2015,Mauritania,Lakes,Least Concern,Karen Avery,Thousand position sense church out explain sig...
996,997,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,2.27,80.3,Subadult,Female,25-01-2023,Papua New Guinea,Freshwater Wetlands,Least Concern,Sylvia Turner,Painting try talk like maintain serious style.
997,998,West African Slender-snouted Crocodile,Mecistops cataphractus,Crocodylidae,Mecistops,2.34,93.5,Adult,Male,07-02-2014,Côte d'Ivoire,Swamps,Critically Endangered,Kristin Fleming,Produce off light before majority garden milit...
998,999,West African Slender-snouted Crocodile,Mecistops cataphractus,Crocodylidae,Mecistops,2.82,147.6,Adult,Male,09-07-2010,Sierra Leone,Shaded Forest Rivers,Critically Endangered,Eric Petersen,Put everything our prove could party skin soon...
999,1000,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,1.73,47.4,Juvenile,Unknown,31-03-2014,Papua New Guinea,Freshwater Wetlands,Least Concern,Kristen Harris,Ok community right then police day so store co...

In [6]:
df.sample(10)

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
252,253,Central African Slender-snouted Crocodile,Mecistops leptorhynchus,Crocodylidae,Mecistops,2.86,164.1,Adult,Female,13-08-2005,Gabon,Forest Rivers,Endangered,Marco Johns,Head garden box hundred lead.
478,479,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.82,133.4,Adult,Female,17-05-2020,Guatemala,Lagoons,Least Concern,Christopher Vasquez,There car fish most center bring analysis camp...
537,538,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,1.00,37.4,Juvenile,Unknown,22-03-2009,Papua New Guinea,Freshwater Wetlands,Least Concern,Terry Glover,Country little reality level realize system no...
931,932,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,3.97,269.9,Adult,Female,12-08-2005,Sri Lanka,Marshes,Vulnerable,Caitlin Gilmore,Indeed mother peace citizen need.
783,784,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,3.18,215.0,Adult,Unknown,25-10-2010,Cuba,Mangroves,Vulnerable,Noah Sparks,Story teacher size interesting sea few learn b...
692,693,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,4.35,472.1,Adult,Female,01-06-2020,Venezuela,Large Rivers,Critically Endangered,Steven Fisher,Fish floor culture sort material wrong instead...
522,523,Saltwater Crocodile,Crocodylus porosus,Crocodylidae,Crocodylus,3.61,399.7,Juvenile,Male,03-11-2010,India,Coastal Wetlands,Least Concern,Yvonne Johns,Particular whatever five radio garden end sell...
15,16,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.00,67.9,Adult,Unknown,18-03-2007,Mexico,Rivers,Least Concern,Donald Wright,Kitchen technology nearly anything yourself st...
359,360,West African Dwarf Crocodile,Osteolaemus tetraspis,Crocodylidae,Osteolaemus,0.15,5.4,Hatchling,Male,12-11-2025,Sierra Leone,Small Streams,Vulnerable,Randy Williams,Finally shoulder land phone brother capital.
709,710,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,3.49,192.0,Adult,Male,17-05-2010,Papua New Guinea,Freshwater Wetlands,Least Concern,David Rodriguez PhD,Quite fact direction me sense simple beyond so...

In [7]:
df.shape

(1000, 15)

In [8]:
df.columns

Index(['Observation ID', 'Common Name', 'Scientific Name', 'Family', 'Genus',
       'Observed Length (m)', 'Observed Weight (kg)', 'Age Class', 'Sex',
       'Date of Observation', 'Country/Region', 'Habitat Type',
       'Conservation Status', 'Observer Name', 'Notes'],
      dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation ID        1000 non-null   int64
 1   Common Name           1000 non-null   object
 2   Scientific Name       1000 non-null   object
 3   Family                1000 non-null   object
 4   Genus                 1000 non-null   object
 5   Observed Length (m)   1000 non-null   float64
 6   Observed Weight (kg)  1000 non-null   float64
 7   Age Class             1000 non-null   object
 8   Sex                   1000 non-null   object
 9   Date of Observation   1000 non-null   object
 10  Country/Region        1000 non-null   object
 11  Habitat Type          1000 non-null   object
 12  Conservation Status   1000 non-null   object
 13  Observer Name         1000 non-null   object
 14  Notes                 1000 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [11]:
df.dtypes

Observation ID            int64
Common Name              object
Scientific Name          object
Family                   object
Genus                    object
Observed Length (m)     float64
Observed Weight (kg)    float64
Age Class                object
Sex                      object
Date of Observation      object
Country/Region           object
Habitat Type             object
Conservation Status      object
Observer Name            object
Notes                    object
dtype: object

In [12]:
df.describe()

       Observation ID  Observed Length (m)  Observed Weight (kg)
count     1000.000000          1000.000000           1000.000000
mean       500.500000             2.415110            155.771900
std        288.819436             1.097542            175.186788
min          1.000000             0.140000              4.400000
25%        250.750000             1.637500             53.225000
50%        500.500000             2.430000            100.600000
75%        750.250000             3.010000            168.875000
max       1000.000000             6.120000           1139.700000

In [13]:
df.describe(include='all')

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
count,1000.000000,1000,1000,1000,1000,1000.000000,1000.000000,1000,1000,1000,1000,1000,1000,1000,1000
unique,NaN,18,18,1,3,NaN,NaN,4,3,936,47,29,5,989,1000
top,NaN,New Guinea Crocodile,Crocodylus novaeguineae,Crocodylidae,Crocodylus,NaN,NaN,Adult,Unknown,03-11-2010,Papua New Guinea,Rivers,Least Concern,Christina Davis,Ok community right then police day so store co...
freq,NaN,68,68,1000,784,NaN,NaN,510,354,3,97,165,384,2,1
mean,500.500000,NaN,NaN,NaN,NaN,2.415110,155.771900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,288.819436,NaN,NaN,NaN,NaN,1.097542,175.186788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,0.140000,4.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,250.750000,NaN,NaN,NaN,NaN,1.637500,53.225000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,500.500000,NaN,NaN,NaN,NaN,2.430000,100.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,750.250000,NaN,NaN,NaN,NaN,3.010000,168.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1000.000000,NaN,NaN,NaN,NaN,6.120000,1139.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.isnull().sum()

Observation ID          0
Common Name             0
Scientific Name         0
Family                  0
Genus                   0
Observed Length (m)     0
Observed Weight (kg)    0
Age Class               0
Sex                     0
Date of Observation     0
Country/Region          0
Habitat Type            0
Conservation Status     0
Observer Name           0
Notes                   0
dtype: int64

In [16]:
df['Family'].isnull().sum()

np.int64(0)

In [17]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Observation ID, Common Name, Scientific Name, Family, Genus, Observed Length (m), Observed Weight (kg), Age Class, Sex, Date of Observation, Country/Region, Habitat Type, Conservation Status, Observer Name, Notes]
Index: []

In [18]:
df.duplicated().sum()

np.int64(0)

In [19]:
df['Family'].unique()

array(['Crocodylidae'], dtype=object)

In [20]:
df.nunique()

Observation ID          1000
Common Name               18
Scientific Name           18
Family                     1
Genus                      3
Observed Length (m)      390
Observed Weight (kg)     837
Age Class                  4
Sex                        3
Date of Observation      936
Country/Region            47
Habitat Type              29
Conservation Status        5
Observer Name            989
Notes                   1000
dtype: int64

In [21]:
df['Notes'].value_counts()

Notes
Ok community right then police day so store consumer positive.                 1
Cause bill scientist nation opportunity.                                       1
Ago current practice nation determine operation speak according.               1
Democratic shake bill here grow gas enough analysis least by two.              1
Officer relate animal direction eye bag do.                                    1
                                                                              ..
Teacher audience draw protect Democrat.                                        1
Just military building different full open discover detail.                    1
Close month parent who up sense ready.                                         1
Affect upon these story film around there water beat magazine attorney set.    1
Medical blood personal success medical current hear claim well.                1
Name: count, Length: 1000, dtype: int64

In [22]:
df['Age Class'].min(), df['Age Class'].max(), df['Age Class'].max()

('Adult', 'Subadult', 'Subadult')

In [23]:
df.select_dtypes(include='number').columns

Index(['Observation ID', 'Observed Length (m)', 'Observed Weight (kg)'], dtype='object')

In [24]:
df.select_dtypes(include='number').head()

   Observation ID  Observed Length (m)  Observed Weight (kg)
0               1                 1.90                  62.0
1               2                 4.09                 334.5
2               3                 1.08                 118.2
3               4                 2.42                  90.4
4               5                 3.75                 269.4

In [25]:
df.select_dtypes(include='object').columns

Index(['Common Name', 'Scientific Name', 'Family', 'Genus', 'Age Class', 'Sex',
       'Date of Observation', 'Country/Region', 'Habitat Type',
       'Conservation Status', 'Observer Name', 'Notes'],
      dtype='object')

In [26]:
df.select_dtypes(include='object').head()

,Common Name,Scientific Name,Family,Genus,Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,Adult,Male,28-01-2015,Venezuela,Mangroves,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,Adult,Male,01-11-2019,Mexico,Rivers,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,Adult,Unknown,15-07-2019,India,Rivers,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...

In [30]:
df[df['Observed Length (m)'].between(1,2)]

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.90,62.0,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
2,3,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.08,118.2,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
10,11,West African Dwarf Crocodile,Osteolaemus tetraspis,Crocodylidae,Osteolaemus,1.22,15.8,Adult,Male,08-06-2018,Liberia,Small Streams,Vulnerable,Betty Alvarez,Close month parent who up sense ready.
11,12,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.84,60.7,Adult,Male,19-10-2019,Belize,Lagoons,Least Concern,Jennifer Powers,Just military building different full open dis...
14,15,West African Dwarf Crocodile,Osteolaemus tetraspis,Crocodylidae,Osteolaemus,1.32,19.2,Adult,Female,14-06-2010,Côte d'Ivoire,Small Streams,Vulnerable,Matthew Lucas,I fund technology eat couple large.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,975,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.73,117.2,Juvenile,Unknown,14-03-2019,Venezuela,Flooded Savannas,Critically Endangered,Brianna Moss,Imagine oil head work should challenge pull th...
976,977,Freshwater Crocodile (Johnstone's),Crocodylus johnstoni,Crocodylidae,Crocodylus,1.32,27.3,Juvenile,Male,29-09-2012,Australia,Gorges,Least Concern,Michael Miller,Thing wrong name mind offer effort nearly walk...
977,978,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,1.99,52.1,Juvenile,Male,23-12-2025,Papua New Guinea,Rivers,Least Concern,Rachel Burns,Rule someone nature house prevent hotel office...
980,981,West African Dwarf Crocodile,Osteolaemus tetraspis,Crocodylidae,Osteolaemus,1.01,11.3,Adult,Female,09-03-2012,Sierra Leone,Small Streams,Vulnerable,David Tapia,War product action our gas heart field people ...
999,1000,Hall's New Guinea Crocodile,Crocodylus halli,Crocodylidae,Crocodylus,1.73,47.4,Juvenile,Unknown,31-03-2014,Papua New Guinea,Freshwater Wetlands,Least Concern,Kristen Harris,Ok community right then police day so store co...

In [31]:
df.groupby('Scientific Name')['Sex'].max()

Scientific Name
Crocodylus acutus          Unknown
Crocodylus halli           Unknown
Crocodylus intermedius     Unknown
Crocodylus johnstoni       Unknown
Crocodylus mindorensis     Unknown
Crocodylus moreletii       Unknown
Crocodylus niloticus       Unknown
Crocodylus novaeguineae    Unknown
Crocodylus palustris       Unknown
Crocodylus porosus         Unknown
Crocodylus raninus         Unknown
Crocodylus rhombifer       Unknown
Crocodylus siamensis       Unknown
Crocodylus suchus          Unknown
Mecistops cataphractus     Unknown
Mecistops leptorhynchus    Unknown
Osteolaemus osborni        Unknown
Osteolaemus tetraspis      Unknown
Name: Sex, dtype: object